body, html{
    width:300px;
}

.welcome{
    display:block;
    text-align: center;
    /* margin: 3% auto; */
    padding: 10px;
    font-size: 1.2em;
    background: lightgray;
}

#search-area{
    margin-top:10px;
}

#current-searches{
    margin-top: 10px;
    margin-bottom: 10px;
    max-height:200px;
}


.delete-search{
    max-width: 1px;
}

.delete-button{

}